{% extends 'base.html.twig' %}

{% block title %}la liste des Produits{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>

            <th scope="col">Id</th>
            <th scope="col">designation</th>
            <th scope="col">description</th>
            <th scope="col">prix</th>
            <th scope="col">quantite</th>


        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>150</td>
            <td>pc gamer</td>
            <td>150</td>

        </tr>


        </tbody>
        {% for produit in Product %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ product.designation }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.prix }}</td>
            <td>{{ product.quantite }}</td>

        </tr>

        {% endfor %}
    </table>
{% endblock %}
